<h1>Editing finishing</h1>

<%= render "form", finishing: @finishing %>

<br>

<div>
  <%= link_to "Show this finishing", @finishing %> |
  <%= link_to "Back to finishings", finishings_path %>
</div>
