<div class="about-custom-back">
    <div class="about-inside"><h1 class="about-title">Qui somme nous</h1></div>
</div>

<div class="container">
    <div class="TextBlock">
        <p>Intemporelles est le fruit d'un regroupement de passionnés autour de l'univers de la pierre.
        Notre leitmotiv dénicher les plus belles pierres à travers le monde et les proposer à notre clientèle pour leur garantir un aspect singulier et intemporelle ! </p><br>

        <p>Vos exigences nous amène à sélectionner et à éliminer les pierres qui ne répondent pas à nos tests de qualités pour éviter toutes déconvenus.   
        Nos équipes ont pour seul mot d'ordre la satisfaction du client et de garantir un travail et une installation de haut vol.</p><br>

        <p>De la cuisine, en passant par la salle de bain, de la table jusqu'à son piétement, nous nous efforçons de répondre à vos attentes et de vous apporter des conseils avisés car chaque pierres possèdent ses caractéristiques propre à elle même.</p><br>

        <p>Intemporelles se singularise par sa proximité avec sa clientèle ou un interlocuteur privilégié vous accompagnera dans votre projet de rénovation.  
        Nous vous proposons plusieurs types de matériaux et de coloris. En effet plus de 500 coloris sont disponibles ! </p><br>

        <p>Pour un service de qualité, nous proposons également de choisir la tranche de pierre avant d'entamer le façonnage de celle-ci pour un résultat sur mesure.
        Par ailleurs, un calepinage est également possible, il vous suffit pour cela de nous contacter.</p>
    </div>
</div>


