#Dev
development:
  adapter: mysql2
  encoding: utf8mb4
  reconnect: false
  database: intemporelles
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: 
  password:
  socket: /var/run/mysqld/mysqld.sock

#Prod
production:
  adapter: mysql2
  encoding: utf8mb4
  reconnect: false
  database: intemporelles
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: 
  password:
  socket: /var/run/mysqld/mysqld.sock
