<div id="<%= dom_id material %>">
  <p>
    <strong>Title:</strong>
    <%= material.title %>
  </p>

  <p class="trix-content">
    <strong>Description:</strong>
    <div class="trix-content">
      <p class="trix-content"><%= material.description %></p>
    </div>
    
  </p>

</div>
