<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    
    <a class="py-2 d-none d-md-inline-block" href="/">Accueil</a>
    <a class="py-2 d-none d-md-inline-block" href="/materials">Plan de travail</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Devis</a>
    <a class="py-2" href="/" aria-label="Product">
      <%= image_tag("icons/Logo_Principal_01_low.jpg", class: "d-block mx-auto", width: "24", height: "24") %>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="/about">Notre Histoire</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Blog</a>
    <div class="dropdown text-end">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag("icons/users.png", class: "rounded-circle", width: "32", height: "32", alt: "mdo") %>
      </a>
      <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
        <% if user_signed_in? %>
          <li><a class="dropdown-item" href="/users/edit">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/users/sign_out">Sign out</a></li>
        <% else %>
          <li><a class="dropdown-item" href="/users/sign_in">Sign In</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>