<header class="site-header sticky-top py-1">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
    
    <a class="py-2 d-none d-md-inline-block" href="/">Accueil</a>
    <a class="py-2 d-none d-md-inline-block" href="/materials">Plan de travail</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Devis</a>
    <a class="py-2" href="/" aria-label="Product">
      <%= image_tag("icons/Logo_Principal_01_low.jpg", class: "d-block mx-auto", width: "24", height: "24") %>
    </a>
    <a class="py-2 d-none d-md-inline-block" href="/about">Notre Histoire</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Blog</a>
    <a class="py-2 d-none d-md-inline-block" href="/users/sign_in">Espace pro</a>
  </nav>
</header>